<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="car" class="com.smart.injectfun.Car" p:brand="红旗T" p:maxSpeed="300" p:price="500" scope="prototype"/>
    <bean id="magicBoss" class="com.smart.injectfun.MagicBoss">
        <lookup-method name="getCar" bean="car"/>
    </bean>

</beans>